/DenguePropsgationAndSpreadingPredictor/target/

/DenguePropsgationAndSpreadingPredictor/node_modules/

/DenguePropsgationAndSpreadingPredictor/bower_components/

/DenguePropsgationAndSpreadingPredictor/src/main/resources/static/
